.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.ourIcon-pic {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden; /* 添加这个属性以确保任何超出容器边界的内容都被裁剪掉 */
    margin: 0 50% 0 0;
    display: block;
    position: absolute; /* 绝对定位 */
    left: 8%; /* 根据需要调整位置 */
    top: 0; /* 根据需要调整位置，通常与padding一致 */
}
.ourIcon-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}